:root{
    --dark-blue-shade:rgb(2, 67, 108) ;
    --light-blue-shade: rgb(220, 238, 254);
    --dark-text-color: navy;
    --hover-color: rgb(40, 129, 154);
    
    --pure-white-shade: #FFFFFF;
    --largest-font-size: 2.5rem;
    --medium-font-size: 1.5rem;
    --small-font-size: 1rem;
    --large-font-size: 2rem;
   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
    list-style: none;
    text-decoration: none;
    
}
body{
    width: 100%;
    min-height: 1500px;
    
}

header{
    
    background-color: var(--dark-blue-shade);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid var(--light-blue-shade);
}
.container{
    width: 90%;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1{
    color: var(--pure-white-shade);
    font-size: var(--largest-font-size);
}

.header-logo{
    display: flex;
    align-items: center;
}

.header-nav-list{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-nav-list a{
    font-size: var(--large-font-size);
    font-family: 500;
    color: var(--pure-white-shade);
    position: relative;
}

.header-nav-list a::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s ease;
}
.header-nav-list a:hover::after{
    width: 100%;
}
.donate-btn-header{
    background-color: transparent;
    font-size: 1.6rem;
    padding: 0.5em;
    border-radius: 30px;
    border: 2px solid var(--pure-white-shade);
    color: var(--pure-white-shade);
}
.donate-btn-header:hover{
    background-color: var(--hover-color);
}
main{
    padding-top: 95px;
    width: 100%;
}

.main-div1{
    width: 100%;
    background-color: var(--light-blue-shade);
    min-height: 600px;
    display: flex;
    justify-content: center;
}

.main-div1-image{
    border: 3px solid var(--dark-blue-shade);
    background-image: url(../resources/white-child-in-cold.png);
    background-position:left;
    background-size: cover;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    
}

.main-div1-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-div1-text{
    width: 60%;
    color: var(--dark-blue-shade);
    line-height: 1.2;
}
.main-div1-text h1{
    font-size: var(--largest-font-size);
}
.main-div1-text p{
    font-size: var(--large-font-size);
}
.donate-btn-main, .go-to-refugee-page-btn{
    font-size: 1.8rem;
    padding: 0.4em;
    
    
    border-radius: 40px;
    border: 2px solid var(--dark-blue-shade);
}

.go-to-refugee-page-btn{
    color: var(--dark-blue-shade);
    background-color: transparent;
    
}

.donate-btn-main{
    color: white;
    background-color: var(--dark-blue-shade);
    margin-right: 4rem;
}

.go-to-refugee-page-btn:hover{
    background-color: var(--dark-blue-shade);
    color: white;
}
.donate-btn-main:hover{
    background-color: var(--hover-color);
}

.main-div2{
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-div2-container{
    display: flex;
    justify-content:space-between;
    min-height: 650px;
    align-items: center;

}

.main-div2-image{
    width: 35%;
    height: 85%;
    
    border-radius: 50%;
    border: 10px solid var(--light-blue-shade);
    background-image: url(../resources/refugee-women.png);
    background-position:left;
    background-size: cover;
}

.main-div2-text{
    color: var(--dark-blue-shade);
    max-width: 60%;
}

.main-div2-text h1{
    font-size: var(--largest-font-size);
}

.main-div2-text p{
    font-size: var(--large-font-size);
}

.our-services-btn{
    background-color: var(--dark-blue-shade);
    color: white;
    font-size: 1.8rem;
    padding: 0.5em;
    border-radius: 40px;
    margin-right: 4rem;
    border: 2px solid var(--dark-blue-shade);
}

.about-us-btn{
    font-size: 1.8rem;
    padding: 0.5em;
    color: var(--dark-blue-shade);
    border: 3px solid var(--dark-blue-shade);
    background-color: transparent;
    border-radius: 40px;
}
.our-services-btn:hover{
    background-color: var(--hover-color);
}
.about-us-btn:hover{
    background-color: var(--dark-blue-shade);
    color: white;
}

.main-div3{
    display: flex;
    background-color: var(--light-blue-shade);
    width: 100%;
    justify-content: center;
    min-height: 600px;
}

.main-div3-container{
    position: relative;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-div3-container h1{
    font-size: var(--largest-font-size);
    position: absolute;
    top: 30px;
    left: 45%;
    color: var(--dark-blue-shade);
    
}

.main-div3-container a{
    width: 25%;
}
.ngo{
    border: 2px solid var(--dark-blue-shade);
    margin-top: 100px;
    width: 100%;
    min-height: 400px;
    background-color: var(--dark-blue-shade);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    overflow: hidden;
    color: white;
}
.ngo:hover{
    background-color: rgb(40, 129, 154);
}

.ngo-description{
    text-align: center;
    font-size: 1.6rem;
    padding: 5px;
}

.ngo1-logo{
    
    background-image: url(../resources/UNHCR-logo.png);
    width: 100%;
    min-height: 100px;
    background-position: center;
    background-size: cover;
}

.ngo2-logo{
    background-image: url(../resources/hilton-logo.png);
    width: 100%;
    min-height: 100px;
    background-position: center;
    background-size: cover;
}
.ngo3-logo{
    background-image: url(../resources/karam-logo.png);
    width: 100%;
    min-height: 100px;
    background-position: center;
    background-size: cover;
    border: 1px solid white;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue-shade);
    min-height: 200px;

}
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.footer-icons{
    color: white;
    font-size: var(--largest-font-size);
}
.footer-nav-items a{
    color: white;
    font-size: var(--large-font-size);
    margin-left: 2rem;
}