:root{
    --dark-blue-shade:rgb(2, 67, 108) ;
    --light-blue-shade: rgb(220, 238, 254);
    --dark-text-color: navy;
    --hover-color: rgb(40, 129, 154);
    
    --pure-white-shade: #FFFFFF;
    --largest-font-size: 2.5rem;
    --medium-font-size: 1.5rem;
    --small-font-size: 1rem;
    --large-font-size: 2rem;
   
}
html{
    font-size: 67%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
    list-style: none;
    text-decoration: none;
    
}
body{
    width: 100%;
    min-height: 1500px;
    
}

header{
    
    background-color: var(--dark-blue-shade);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid var(--light-blue-shade);
}
.container{
    width: 90%;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1{
    color: var(--pure-white-shade);
    font-size: var(--largest-font-size);
}

.header-logo{
    display: flex;
    align-items: center;
}

.header-nav-list{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-nav-list a{
    font-size: var(--large-font-size);
    font-family: 500;
    color: var(--pure-white-shade);
    position: relative;
}

.header-nav-list a::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s ease;
}
.header-nav-list a:hover::after{
    width: 100%;
}
.donate-btn-header{
    background-color: transparent;
    font-size: 1.6rem;
    padding: 0.5em;
    border-radius: 30px;
    border: 2px solid var(--pure-white-shade);
    color: var(--pure-white-shade);
}
.donate-btn-header:hover{
    background-color: var(--hover-color);
}

main{
    min-height: 1600px;
    margin-top: 70px;
}
.main-div1{
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;

    background-color: var(--light-blue-shade);
}
.main-div1-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.language,.country {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.image-main-div1{
    background-image: url(../resources/refugee-women-working.png);
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 3px solid var(--dark-blue-shade);
}
<<<<<<< HEAD
.input-form label{
    font-size: var(--medium-font-size);
    margin-bottom: 8px;
    color: var(--dark-blue-shade);
}
.input-form select {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid var(--dark-blue-shade);
    border-radius: 4px;
    font-size: var(--small-font-size);
}
.input-form button {
    background-color: var(--dark-blue-shade);
    color: var(--pure-white-shade);
    font-size: var(--medium-font-size);
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.input-form button:hover {
    background-color: var(--hover-color);
=======
.input-form{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}
.input-form label {
    font-size: var(--medium-font-size);
    color: var(--dark-text-color);
    margin-bottom: 5px;
}
.input-form-ele{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.input-form select {
    padding: 15px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: var(--medium-font-size);
    color: var(--dark-text-color);
>>>>>>> 6d2106fbb4b0cbeac1fa97101fa52f4990e565e5
}
.country-selection{
    font-size: 1rem;
}

.main-div2{
    width: 100%;
    min-height: 800px;
    display: flex;
    justify-content: center;

}
.main-div3{
    width: 100%;
    min-height: 800px;
    background-color: var(--light-blue-shade);
    display: flex;
    justify-content: center;
}
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue-shade);
    min-height: 200px;

}
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.footer-icons{
    color: white;
    font-size: var(--largest-font-size);
}
.footer-nav-items a{
    color: white;
    font-size: var(--large-font-size);
    margin-left: 2rem;
}