
:root{
    --dark-blue-shade:rgb(2, 67, 108) ;
    --light-blue-shade: rgb(220, 238, 254);
    --dark-text-color: navy;
    --hover-color: rgb(40, 129, 154);
    --largest-breakpoint : 1500px;
    --medium-breakpoint: 900px;
    --smallest-breakpoint: 400px;
    --pure-white-shade: #FFFFFF;
    --largest-font-size: 2.5rem;
    --medium-font-size: 1.5rem;
    --small-font-size: 1rem;
    --large-font-size: 2rem;
   
  }
  html {
    font-size: 95%;
  }
  
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
    list-style: none;
    text-decoration: none;

    
  }
  body{
    width: 100%;
  }
  
  header{
    
    background-color: var(--dark-blue-shade);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid var(--light-blue-shade);
  }
  .container{
    width: 90%;
  }
  .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo h1{
    color: var(--pure-white-shade);
    font-size: var(--largest-font-size);
  }
  
  .header-logo{
    display: flex;
    align-items: center;
  }
  
  .header-nav-list{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header-nav-list a{
    font-size: var(--large-font-size);
    font-family: 500;
    color: var(--pure-white-shade);
    position: relative;
  }
  
  
  .header-nav-list a::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s ease;
  }
  .header-nav-list a:hover::after{
    width: 100%;
  }
  .donate-btn-header{
    background-color: transparent;
    font-size: 1.6rem;
    padding: 0.5em;
    border-radius: 30px;
    border: 2px solid var(--pure-white-shade);
    color: var(--pure-white-shade);
  }
  .donate-btn-header:hover{
    background-color: var(--hover-color);
  }
  main{
  
    min-height: 900px;
    margin-top: 100px;
    font-size: 30px;
  }

 
  .main-div1-container, .main-div2-container{
    width: 90%;
    
    font-size: 20px;
    align-items: center;
    margin-bottom: 60px;
    padding-bottom: 40px ;
    margin-top: 40px;
  } 
  .about-section {
    padding: 100px 0;
    background-color: var(--light-blue-shade);
    text-align: center;
    background-image: url(../resources/refugee5.jpg);
    color:var(--pure-white-shade);
    
    z-index: -1;
    height: 500px;
    background-size: cover;
    background-position: center;
}

.team-section {
    padding: 50px 0;
    background-color: var(--pure-white-shade);
    background-color: rgb(189, 219, 235);
}

.team-member {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    background-color: rgb(189, 219, 235);
}

.team-member img {
  width: 250px;
  height: 250px;
  border-radius: 50%; 
  margin-right: 20px;
}

.imrana-img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.team-member-info {
    text-align: left;
    margin-left: 100px;
   
   
}

.team-member-info h3 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.team-member-info p {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.team-member:hover {
    transform: scale(1.05);
    background-color: rgb(81, 142, 192);
}
  
  footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue-shade);
    min-height: 200px;
  
  }
  .footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  
  .footer-icons{
    color: white;
    font-size: var(--largest-font-size);
  }
  .footer-nav-items a{
    color: white;
    font-size: var(--large-font-size);
    margin-left: 2rem;
  }
=======
:root{
    --dark-blue-shade:rgb(2, 67, 108) ;
    --light-blue-shade: rgb(220, 238, 254);
    --dark-text-color: navy;
    --hover-color: rgb(40, 129, 154);
    --largest-breakpoint : 1500px;
    --medium-breakpoint: 900px;
    --smallest-breakpoint: 400px;
    --pure-white-shade: #FFFFFF;
    --largest-font-size: 2.5rem;
    --medium-font-size: 1.5rem;
    --small-font-size: 1rem;
    --large-font-size: 2rem;
   
}
html {
    font-size: 95%;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
    list-style: none;
    text-decoration: none;
    
}
body{
    width: 100%;
}

header{
    
    background-color: var(--dark-blue-shade);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid var(--light-blue-shade);
}
.container{
    width: 90%;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1{
    color: var(--pure-white-shade);
    font-size: var(--largest-font-size);
}

.header-logo{
    display: flex;
    align-items: center;
}

.header-nav-list{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-nav-list a{
    font-size: var(--large-font-size);
    font-family: 500;
    color: var(--pure-white-shade);
    position: relative;
}


.header-nav-list a::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s ease;
}
.header-nav-list a:hover::after{
    width: 100%;
}
.donate-btn-header{
    background-color: transparent;
    font-size: 1.6rem;
    padding: 0.5em;
    border-radius: 30px;
    border: 2px solid var(--pure-white-shade);
    color: var(--pure-white-shade);
}
.donate-btn-header:hover{
    background-color: var(--hover-color);
}

main{

    min-height: 900px;
    margin-top: 100px;
    
}
.main-div1, .main-div2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main-div1-container, .main-div2-container{
    width: 90%;
    
}


footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue-shade);
    min-height: 200px;

}
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.footer-icons{
    color: white;
    font-size: var(--largest-font-size);
}
.footer-nav-items a{
    color: white;
    font-size: var(--large-font-size);
    margin-left: 2rem;
}
